#dao_hang1{
    height:60px;
    box-sizing:border-box;
    /* border:1px solid red;*/

}
#dao_hang1>ul{
    width:100%;
    float:left;background:#ececec;
    text-align:center;
    height:60px;
    position:fixed;
    top:60px;left:0px;line-height:60px;
    z-index:1;
}
#dao_hang1>ul>li{
    list-style:none;
    display:inline-block;width:120px;text-align:center;

}
#dao_hang1>ul>li>a{
    width:100%;
    list-style:none;
    display:inline-block;
    line-height:54px;
    font-size:15px;
}
#dao_hang1>ul>li>a:hover{
    color:#e2001a;
}
.dao_bottom>a{
    border-bottom:6px solid #e2001a;
    color:#e2001a;
}
#top{
    height:60px;
    position: relative;
    z-index: 10;
}
#zhuti>div{
    padding-top: 30px;
    width: 90%;
    max-width: 1600px;
    min-width: 900px;
    margin: 0 auto;
    /*border:1px solid red;*/
}
#zhuti p{
    font-size:20px;
    line-height: 30px;
    padding-bottom: 20px;
    color:black;
}
#zhuti>div>ul {
    float: left;
    width: 100%;
}
#zhuti>div>ul>li {
    position: relative;
    float: left;
    list-style: none;
    width: 22.8%;
    margin: 0 1% 20px 1%;
    overflow: hidden;
    /*border:1px solid black;*/
}
#zhuti>div>ul>li>a{
    display:inline-block;
}
#zhuti>div>ul>li img {
    width: 100%;
    transition: all 0.3s linear;
}
#zhuti>div>ul>li img:hover{
    transform:scale(1.1);
}
#zhuti>div>ul>li a:nth-child(2) {
    width: 80%;
    position: absolute;
    height:60px;
    left: 0;
    bottom: 0;
    color: #ffffff;
    line-height: 20px;
    font-size: 0.85rem;
    padding: 30px 30px 0 30px;
    background: url(../img/shipu/recipesbg.png) repeat-x;
}
#paging {
    text-align: center;
}
#paging>ul {
    display: inline-block;
}
#paging li {
    float: left;
    list-style: none;
    border: 1px solid #666;
    box-sizing: border-box;
}
#paging a {
    display: inline-block;
    font-size: 1.2em;
    line-height: 15px;
    padding: 15px;
}
.active {
    background: #e2001a;
    color: white;
}